@import "tailwindcss";

:root {
  --background: #f7f7f6;
  --foreground: #171717;
  --primary: #D0BB95;
  --primary-dark: #d5ad62;
  --background-light: #f7f7f6;
  --background-dark: #1d1a15;
  --surface-light: #ffffff;
  --surface-dark: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-surface-light: var(--surface-light);
  --color-surface-dark: var(--surface-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-inter);
}

body {
  background: var(--background-light);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}